menuconfig TOOL_AARCH64
	bool "aarch64-none-linux-gnu"

if TOOL_AARCH64

choice
	prompt "Setup way to get aarch64-none-linux-gnu"

config TOOL_AARCH64_DL
	bool "aarch64-none-linux-gnu from external file"

config TOOL_AARCH64_WGET
	bool "aarch64-none-linux-gnu from wget"

endchoice

config TOOL_AARCH64_SRC
	int
	default 1 if TOOL_AARCH64_DL
	default 2 if TOOL_AARCH64_WGET

if TOOL_AARCH64_WGET

choice 
	prompt "Release version"

config AARCH64_V10.3-2021.07
	bool "v10.3-2021.07"
	
endchoice

config AARCH64_FULL_NAME
	string
	default "10.3-2021.07/binrel/gcc-arm-10.3-2021.07-x86_64-aarch64-none-linux-gnu.tar.xz" if AARCH64_V10.3-2021.07

config AARCH64_VERSION
	string
	default "v10.3-2021.07" if AARCH64_V10.3-2021.07
 
endif # TOOL_AARCH64_WGET

if TOOL_AARCH64_DL

config TOOL_AARCH64_DL_NAME
	string "aarch64-none-linux-gnu absolute path"

config AARCH64_VERSION
	string "aarch64-none-linux-gnu version"
	default "v10.3-2021.07"

endif # TOOL_AARCH64_DL

endif # TOOL_AARCH64
